<!-- Sidebar -->
            <aside class="sidebar">
                <div class="logo">
                    <img
                        src="/static/logo.png"
                        width="30"
                        height="30"
                        style="border-radius: 6px; object-fit: cover"
                    />
                    <h1>Mero</h1>
                </div>
                <div class="sidebar-label">NAVIGATION</div>
                <nav>
                    <ul>
                        <li id="nav-guide" onclick="switchTab('guide')">
                            <i data-lucide="book-open" class="icon"></i>Quick
                            Setup Guide
                        </li>
                        <li
                            class="active"
                            id="nav-dashboard"
                            onclick="switchTab('dashboard')"
                        >
                            <i data-lucide="layout-dashboard" class="icon"></i
                            >Dashboard
                        </li>
                        <li id="nav-console" onclick="switchTab('console')">
                            <i data-lucide="terminal" class="icon"></i>Console
                        </li>
                        <li id="nav-files" onclick="switchTab('files')">
                            <i data-lucide="folder" class="icon"></i>File
                            Manager
                        </li>
                        <li id="nav-modrinth" onclick="switchTab('modrinth')">
                            <i data-lucide="blocks" class="icon"></i>Mods &
                            Plugins
                        </li>
                        <li id="nav-players" onclick="switchTab('players')">
                            <i data-lucide="users" class="icon"></i>Player
                            Manager
                        </li>
                        <li id="nav-backups" onclick="switchTab('backups')">
                            <i data-lucide="archive" class="icon"></i>Backups
                        </li>
                        <li id="nav-settings" onclick="switchTab('settings')">
                            <i data-lucide="settings" class="icon"></i>Settings
                        </li>
                    </ul>
                </nav>
            </aside>

            